<div>
  <h1>Aevum</h1>
  <p>
    Approach: Fast, fun, not so lethal combat along with tough potentially fatal
    puzzles. All the small puzzles add up to a large one, which results in the
    revitalization of an ancient city and the restoration of its clockwork
    denizens. Currently, the city is inhabited by a tribe of lizardmen, and the
    subterranean lower sections are infested by other beasts.
  </p>

  <ul>
    <li>
      5000 years ago: Aevum was the work of a fire giant magician called Ferro.
      He created Aevum as a mechanical toy ecosystem, which he theorized could
      run for 10,000 years running only on inputs of oil lubricant and
      rotational energy. He chose a wide dry basin for his experiment due to the
      consistent Foehn winds that blew down from the mountains to the west. The
      clockwork citizens were taught by Ferro the mechanics of their own
      functioning, and developed an economy based on energy. Eventually Ferro
      grew tired of his experiment and left them to their devices.
    </li>
    <li>
      2000 years ago: The city state of Aevum grew into a prosperous economic
      hub. The clockwork denizens who inhabited Aevum produced mechanical
      wonders, very few of which are still operational today. A foreigner’s
      district became a popular trade destination, with swift transport across
      the basin provided by rail-sail. Water was brought in and recycled in a
      water treatment plant below the city.
    </li>
    <li>
      1700 years ago: Disaster struck when an otherwise inconsequential mountain
      river diverted from its path to the coast and began to flow into the dry
      basin. Quicker than expected the basin slowly filled with an extremely
      salty and rusting brine. Though the aevumites attempted to reroute the
      flow, and to elevate portions of their city above the salt, the
      deleterious effects of the brackish water proved too much for them to
      counteract. Rail-sail travel quickly stopped as well as trade to the
      region and slowly the settlement was forgotten. As reeds and willows took
      root in the region, the basin quickly became a salt marsh and was later
      named The Dismal Salt Swamps.
    </li>
    <li>
      1600 years ago: An aggressive tribe of lizardfolk made their home in the
      Dismal Salt Swamps. Their main settlement is far to the west of Aevum but
      lizardfolk are common throughout the region.
    </li>
    <li>
      Today: The heroes have been driven from their homes and into the swamps by
      horse archer barbarians. Their leader, Gilles Blasé, was confident that he
      could navigate through the swamps, avoid lizardfolk, scale the western
      mountains, and ask for aid from the coastal kingdom of Marytorim.
    </li>
  </ul>

  Phases: Orienting to the city. Meeting the last survivor, an immobile guide
  named Verge in the foreign quarter's saloon called the Vestibule. Getting a
  Torquenium motor from the power plant. Starting a section of the city.
  Descending into the wastewater treatment plant to filter water and pump out
  submerged sections Descending into submerged sections to retrieve more
  Torquenium. Connecting the powerplant to an energy source to twist the
  Torquenium to make a power source for city sections. More adventures for
  Torquenium. Battling against lizardfolk? Emptying the basin entirely? Battling
  against barbarians to the east? Episode I: You have been driven off of your
  trade route by barbarians and into the Great Salt Swamp. Your leader Gilles
  Blasé
</div>
